{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    <style>
        .button-container {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .button-content {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 45%;
            margin-top: 20px;
            margin-bottom: 20px;
        }

    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-6 m-auto">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="inputUsername">Username</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control"
                       required autofocus>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <button class="btn btn-lg btn-primary mt-4" type="submit">
                    Sign in
                </button>
            </form>


            <div class="button-container">
                <a type="button" class="btn btn-primary button-content" href="{{ path('app_github_connect') }}">
                    <i class="fab fa-github fa-3x"></i>
                    Login with Github
                </a>
                <a type="button" class="btn btn-primary button-content" href="{{ path('app_facebook_connect') }}">
                    <i class="fab fa-facebook fa-3x"></i>
                    Login with Facebook
                </a>
                <a type="button" class="btn btn-primary button-content" href="{{ path('app_google_connect') }}">
                    <i class="fab fa-google fa-3x"></i>
                    Login with Google
                </a>
                <a type="button" class="btn btn-primary button-content" href="{{ path('app_discord_connect') }}">
                    <i class="fab fa-discord fa-3x"></i>
                    Login with Discord
                </a>
            </div>
        </div>
    </div>

{% endblock %}
